@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$color-1: #594635; // dark brown- Action color
$color-2: #7E5E47; // light brown
$color-3: #68805C; // green
$color-4: #535E67; // grey blue
$color-5: #000; // black
$color-6: #fff; //white